/*
For laptop screens
*/
@media only screen and (min-width: 720px)
{
	ul{
		position: relative;
		width: 90%;
		margin: auto;
	}
	li{
		padding: 5px;
		margin: auto;
	}
	table{
		position: relative;
		width: 100%;
		margin: auto;
		border-collapse: collapse;
	}
	td{
		margin-bottom: 15px;
	}
	tr{
		position: relative;
		width: 100%;
		border-bottom: 0.5px solid #BDD;
	}
	input{		
		position: relative;
		width: 90%;
		height: 25px;
	}
	textarea{
		position: relative;
		width: 90%;
		height: 4em;
		resize: none;
	}
	.title_col{
		position: relative;
		width: 15%;
	}
	.data_col{
		position: relative;
		width: 35%;
	}
	.flex_row{
		display: flex;
		flex-direction: row !important;
		align-items: flex-start !important;
	}
	.flex_col{
		display: flex;
		flex-direction: column !important;
		align-items: flex-start !important;
	}
	.align_center{
		display: flex;
		align-items: center !important;
		justify-content: space-between;
	}
	.sub_menu{
		width: 30%;
	}
	.information{
		width: 70%;
	}
	.submenu_item{
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 90%;
		height: 40px;
		padding: 3px;
		margin: 3px;
		background-color: rgba(216, 235, 240, 0.5);
		border-right: 10px solid transparent;
		box-shadow: 1px 1px 1px 1px rgba(216, 235, 240, 1);
		border-radius: 5px;
		text-align: center;
	}
	.submenu_item:hover{
		box-shadow: 1px 1px 1px 3px rgba(216, 235, 240, 1);
	}
	.submenu_item_unselected{
		border-right: 10px solid transparent;
		background-color: rgba(216, 235, 240, 0.5);
	}
	.submenu_item_selected{
		border-right: 10px solid rgba(28, 18, 222, 1);
		background-color: rgba(216, 235, 240, 1);		
	}
	.information_item{
		width: 90%;
		display: none;
		padding: 10px;
		margin: auto;
	}
	.request_form{
		display: none;
		position: fixed;
		top: 30%;
		left: 10%;
		width: 80%;
		margin: auto;
		background-color: white;
		border: 3px solid #BDD;
		border-radius: 10px;
		z-index: 1;
		font-size: 12px;
		padding: 5px;
	}
	.submit_button{
		width: 100px; 
		height: 20%; 
		padding: 10px; 
		border-radius: 5px; 
		background-color: rgb(50, 168, 82); 
		color: white; 
		font-weight: 900; 
		border: none;
		text-align: center;
	}
	.cancel_button{
		width: 100px; 
		height: 20%; 
		padding: 10px; 
		border-radius: 5px; 
		background-color: gray; 
		color: white; 
		font-weight: 900; 
		border: none;
		text-align: center;
	}
}


/*
For mobile screens
*/
@media only screen and (max-width: 720px)
{
	ul{
		position: relative;
		width: 90%;
		margin: auto;
	}
	li{
		padding: 5px;
		margin: auto;
	}
	table{
		position: relative;
		width: 100%;
		margin: auto;
		border-collapse: collapse;
	}
	td{
		padding: 5px;
	}
	tr{
		position: relative;
		width: 100%;
		border-bottom: 3px solid #BDD;
	}
	input{		
		position: relative;
	}
	.title_col{
		position: relative;
		width: 30%;
	}
	.data_col{
		position: relative;
		width: 80%;
	}
	.flex_row{
		display: flex;
		flex-direction: row !important;
		align-items: start !important;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	.flex_col{
		display: flex;
		flex-direction: column !important;
		align-items: start !important;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	.align_center{
		display: flex;
		align-items: center !important;
		justify-content: space-between;
	}
	.sub_menu{
		position: relative;
		width: 95%;
		margin: auto;
		display: flex;
		flex-direction: row !important;
		align-items: start !important;
		justify-content: flex-start;
	}
	.information{
		position: relative;
		width: 95%;
		margin: auto;
	}
	.submenu_item{
		position: relative;
		width: 90%;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 1%;
		margin: 1%;
		background-color: rgba(216, 235, 240, 0.5);
		box-shadow: 1px 1px 1px 1px rgba(216, 235, 240, 1);
		border-radius: 5px;
		text-align: center;
	}
	.submenu_item:hover{
		box-shadow: 1px 1px 1px 3px rgba(216, 235, 240, 1);
	}
	.submenu_item_unselected{
		border-right: 10px solid transparent;
		background-color: rgba(216, 235, 240, 0.5);
	}
	.submenu_item_selected{
		border-right: 10px solid rgba(28, 18, 222, 1);
		background-color: rgba(216, 235, 240, 1);		
	}
	.information_item{
		width: 90%;
		display: none;
		padding: 2%;
		margin: auto;
	}
	.request_form{
		position: relative;
		width: 100%;
		margin: auto;
		padding: 20px 0px 0px 0px;
	}
	.submit_button{
		width: 40%; 
		height: 20%; 
		padding: 10px; 
		border-radius: 5px; 
		background-color: rgb(50, 168, 82); 
		color: white; 
		font-weight: 900; 
		border: none;
	}
}
