/*
For laptop screens
*/
@media only screen and (min-width: 720px)
{
	@page{size: landscape;}

	.userDetails{
		text-align: left;
		padding-left: 50px;
		padding-right: 50px;
		width: 90%;	
		overflow: hidden;	
		margin-left: 5%; 
		margin-right: 5%;
		margin-top: 20px;
		margin-bottom: 20px;
		align-content: center;
		/*margin: 20 0 0 450px; */ 
		background-color: deepskyblue;	
		border-radius: 15px;
		font-family: Cambria;
	}
	.head5{
		text-align: center;
	}
	.userInfo{
		position: relative;
		display: table;
		width: 100%;
		padding: 25px;
	}
	.recording_menu{
		position: fixed;
		top: 30%;
		left: 5%;
		width: 90%;
		padding: 1% 1% 10% 1%;
		border-radius: 10px;	
		visibility: hidden;
		box-shadow: 0 0 5px 0 ;
		background: inherit;
		backdrop-filter: blur(10px);
		font-weight: 500;
		z-index: 2;
	}
	.start_recording_switch{
		background-color: rgba(92, 186, 69, 0.9);
		padding: 10px;
		border-radius: 5px;
		color: white;
		font-weight: 900;
		display: inline;
	}
	.start_recording_switch:hover{
		background-color: rgba(92, 186, 69, 1);
		box-shadow: 1px 1px 5px 5px gray;
	}
	.close_menu{
		position: relative;
		text-align: right;
		background-color: white;
		color: magenta;
	}
	.label{	
		color: black;	
		font-size: 17px;
		font-family: "Cambria";
		display: table-cell;
		width: 35%;
	}
	.submitDiv{
		text-align: center;
		margin-bottom: 10px;
	}
	.subButton{
		text-align: center;
		min-height: 30px;
		font-size: 1.01em;
		font-weight: bold;
		font-family: Cambria, serif;
		width: 20%;
	}
	.audioStream {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 2%;
		margin-bottom: 2%;
		min-height: auto;
		text-align: center;
	}
	.convertedText {
		width: 100%;
		margin-top: 2%;
		margin-bottom: 2%;
		box-shadow: 0 9px 18px rgba(0,0,0,0.4);
		background-color: white;
		min-height: 150px;
		font-family: Cambria;
	}
	.button{
		width: 100px;
		height: 50px;
		word-wrap: break-word;
		font-size: 20px;
		border-radius: 50px;
		align-items: center;
		text-align: center;
		background-clip: padding-box;
		background-color: rgba(182, 136, 191, 1);
		border-radius: .25rem;
		box-shadow: 1px 1px 3px 1px gray;
		box-sizing: border-box;
		color: white;
		cursor: pointer;
		font-weight: 900;
	}
	.button:disabled{
		pointer-events: none;
	}
	.button:hover{
		box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
		transform: translateY(-2px);
	}
	.button:active{
		box-shadow: none;
		transform: translateY(0);
	}
	.record_button{
		background-color: rgba(53, 171, 79, 1);
		opacity: 0.8;
	}
	.record_button:hover{
		background-color: rgba(53, 171, 79, 1);
		opacity: 1;
	}
	.stop_button{
		background-color: rgba(212, 94, 21, 1);
		opacity: 0.8;
	}
	.stop_button:hover{
		background-color: rgba(212, 94, 21, 1);
		opacity: 1;
	}
	.getAudioDevices {
		align-items: center;
		background-color: #0A66C2;
		border: 0;
		border-radius: 100px;
		box-sizing: border-box;
		color: #ffffff;
		cursor: pointer;
		display: inline-flex;
		font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
		font-size: 16px;
		font-weight: 600;
		justify-content: center;
		line-height: 20px;
		max-width: 480px;
		min-height: 30px;
		min-width: 0px;
		overflow: hidden;
		padding: 0px;
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
		touch-action: manipulation;
		transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
		user-select: none;
		-webkit-user-select: none;
		vertical-align: middle;
		margin-top: 2%;
	}
	.getAudioDevices:hover,.getAudioDevices:focus { 
		background-color: #16437E;
		color: #ffffff;
	}
	.getAudioDevices:active {
		background: #09223b;
		color: rgb(255, 255, 255, .7);
	}
	.getAudioDevices:disabled{ 
		cursor: not-allowed;
		background: rgba(0, 0, 0, .08);
		color: rgba(0, 0, 0, .3);
	}
	#speakerID{
		width: 200px;
		height: auto;
		min-height: 30px;
		margin-bottom: 10px;
		margin-top: 10px;
		border-radius: 3px;	
		padding-left: px;
		font-family: Cambria;
		display: table-cell;
	}
	.forgotID{
		font-family: Cambria;
		font-weight: bold;
	}
	.idInstruct{
		font-family: Cambria;
	}
	.output{
		font-weight: bold;
	}
	.speaker_id_input{
		position: relative;
		width: 30%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.forgot_speaker_id{
		position: relative;
		width: 75%;
		margin: auto;
		display: flex;
		flex-direction: column !important;
		justify-content: space-between;
		background-color: rgba(112, 181, 150, 0.1);
		opacity: 1;
		border-radius: 5px;
		text-align: center;
	}
	.details_tile{
		position: relative;
		width: 100%;
		margin: auto;
		display: flex; 
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}
	.recording_buttons{
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.demo_page_heading{
		position: relative;
		width: 100%;
		margin: auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.enroll_form{
		position: relative;
		width: 80%;
		margin: auto;
	}
	.prompt{
		position: relative;
		width: 100%;
		margin: auto;
	}
	.audioForm{
		position: relative;
		width: 100%;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
}




/*
For mobile screens
*/
@media only screen and (max-width: 720px)
{
	@page{size: portrait;}

	.userDetails{
		text-align: left;
		padding-left: 50px;
		padding-right: 50px;
		width: 90%;	
		overflow: hidden;	
		margin-left: 5%; 
		margin-right: 5%;
		margin-top: 20px;
		margin-bottom: 20px;
		align-content: center;
		/*margin: 20 0 0 450px; */ 
		background-color: deepskyblue;	
		border-radius: 15px;
		font-family: Cambria;
	}
	.head5{
		text-align: center;
	}
	.userInfo{
		position: relative;
		display: table;
		width: 100%;
		padding: 25px;
	}
	.table_div{
		position: relative;
		width: 45%;
		margin: auto;
	}
	.trow{
		width: 75%;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.recording_menu{
		position: fixed;
		top: 30%;
		left: 5%;
		width: 90%;
		padding: 1% 1% 1% 1%;
		border-radius: 10px;	
		visibility: hidden;
		box-shadow: 0 0 5px 0 ;
		background: inherit;
		backdrop-filter: blur(10px);
		font-weight: 500;
		z-index: 2;
	}
	.recording_buttons{
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	.start_recording_switch{
		background-color: rgba(92, 186, 69, 0.9);
		padding: 1%;
		border-radius: 5px;
		color: white;
		font-weight: 900;
		display: inline;
	}
	.start_recording_switch:hover{
		background-color: rgba(92, 186, 69, 1);
		box-shadow: 1px 1px 5px 5px gray;
	}
	.close_menu{
		position: relative;
		text-align: right;
		background-color: white;
		color: magenta;
	}
	label{	
		color: black;	
		font-size: 17px;
		font-family: Cambria;
		display: table-cell;
		width: 35%;
	}
	#fname, #lname{
		width: 100%;
		height: auto;
		min-height: 30px;
		margin-bottom: 10px;
		border-radius: 3px;	
		padding-left: px;
		font-family: Cambria;
		display: table-cell;
	}
	#gender{	
		width: 100%;
		height: auto;
		min-height: 30px;
		margin-bottom: 20px;
		border-radius: 3px;	
		padding-left: px;
		font-family: Cambria;
		display: table-cell;
	}
	#age{	
		width: 100%;
		height: auto;
		min-height: 30px;
		border-radius: 3px;
		margin-bottom: 20px; 
		padding-left: px;
		font-family: Cambria;
		display: table-cell;
	}
	.submitDiv{
		text-align: center;
		margin-bottom: 10px;
	}
	.subButton{
		text-align: center;
		min-height: 30px;
		font-size: 1.01em;
		font-weight: bold;
		font-family: Cambria, serif;
		width: 20%;
	}
	.audioStream {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 2%;
		margin-bottom: 2%;
		min-height: auto;
		text-align: center;
	}
	.convertedText {
		width: 100%;
		margin-top: 2%;
		margin-bottom: 2%;
		box-shadow: 0 9px 18px rgba(0,0,0,0.4);
		background-color: white;
		min-height: 150px;
		font-family: Cambria;
	}
	.button{
		width: 100px;
		height: 50px;
		word-wrap: break-word;
		font-size: 20px;
		border-radius: 50px;
		align-items: center;
		text-align: center;
		background-clip: padding-box;
		background-color: rgba(182, 136, 191, 1);
		border-radius: .25rem;
		box-shadow: 1px 1px 3px 1px grey;
		box-sizing: border-box;
		color: white;
		cursor: pointer;
		font-weight: 900;
	}
	.button:disabled{
		pointer-events: none;
	}
	.button:hover{
		box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
		transform: translateY(-2px);
	}
	.button:active{
		box-shadow: none;
		transform: translateY(0);
	}
	.record_button{
		background-color: rgba(53, 171, 79, 1);
		opacity: 0.8;
	}
	.record_button:hover{
		background-color: rgba(53, 171, 79, 1);
		opacity: 1;
	}
	.stop_button{
		background-color: rgba(212, 94, 21, 1);
		opacity: 0.8;
	}
	.stop_button:hover{
		background-color: rgba(212, 94, 21, 1);
		opacity: 1;
	}
	.getAudioDevices {
		align-items: center;
		background-color: #0A66C2;
		border: 0;
		border-radius: 100px;
		box-sizing: border-box;
		color: #ffffff;
		cursor: pointer;
		display: inline-flex;
		font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
		font-size: 16px;
		font-weight: 600;
		justify-content: center;
		line-height: 20px;
		max-width: 480px;
		min-height: 30px;
		min-width: 0px;
		overflow: hidden;
		padding: 0px;
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
		touch-action: manipulation;
		transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
		user-select: none;
		-webkit-user-select: none;
		vertical-align: middle;
		margin-top: 2%;
	}
	.getAudioDevices:hover,.getAudioDevices:focus { 
		background-color: #16437E;
		color: #ffffff;
	}
	.getAudioDevices:active {
		background: #09223b;
		color: rgb(255, 255, 255, .7);
	}
	.getAudioDevices:disabled{ 
		cursor: not-allowed;
		background: rgba(0, 0, 0, .08);
		color: rgba(0, 0, 0, .3);
	}
	#speakerID{
		width: 200px;
		height: auto;
		min-height: 30px;
		margin-bottom: 10px;
		margin-top: 10px;
		border-radius: 3px;	
		padding-left: px;
		font-family: Cambria;
		display: table-cell;
	}
	.forgotID{
		font-family: Cambria;
		font-weight: bold;
	}
	.idInstruct{
		font-family: Cambria;
	}
	.output{
		font-weight: bold;
	}
	.speaker_id_input{
		position: relative;
		width: 30%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.forgot_speaker_id{
		position: relative;
		width: 75%;
		margin: auto;
		display: flex;
		flex-direction: column !important;
		justify-content: space-between;
		background-color: rgba(112, 181, 150, 0.1);
		opacity: 1;
		border-radius: 5px;
		text-align: center;
	}
	.details_tile{
		position: relative;
		width: 90%;
		margin: auto;
		display: flex; 
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
	.demo_page_heading{
		position: relative;
		width: 100%;
		margin: auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.enroll_form{
		position: relative;
		width: 90%;
		margin: auto;
	}
	.prompt{
		position: relative;
		width: 100%;
		margin: auto;
	}
	.audioForm{
		position: relative;
		width: 100%;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
}
