<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
		<meta name="mobile-web-app-capable" content="yes"/>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia|DynaPuff">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:ital,wght@1,500&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap" rel="stylesheet">
		<link href="{{url_for('static', filename='/css/base_style.css')}}" type="text/css" rel="stylesheet">
		<link href="{{url_for('static', filename='/css/userDetails.css')}}" type="text/css" rel="stylesheet">
		<link href="{{url_for('static', filename='/images/i-SpeakR_icon2.ico')}}" type="image/x-icon" rel="icon">
    	<script type="text/javascript" src="static/js/stickyNav.js"></script>
    	<script type="text/javascript" src="static/js/getAudioDevices.js"></script>

		<title>i-SpeakR - Speaker Verification</title>

		<script type="text/javascript">
			function show_msg(){
				document.getElementById('forgot_speaker_id').style.visibility='visible';
			}

			function hide_msg(){
				document.getElementById('forgot_speaker_id').style.visibility='hidden';
			}

			function start_recording(){
				if(document.getElementById('speakerID').value == '')
					alert('Please enter the speakerID');
				else{
					vstart();
					timer();	
				}
			}

			function stop_recording(){
				vstop();
			}

			function show_recording_menu(){
				if (document.getElementById('speakerID').value==''){
					window.alert('Enter speaker ID');
					return;
				}
				document.getElementById('recording_menu').style.visibility='visible';
			}

			function hide_recording_menu(){
				document.getElementById('recording_menu').style.visibility='hidden';
			}
		</script>
    	<script type="text/javascript" src="static/js/core.js"></script>
	</head>

	<body lang="en-IN" id="body_tag">
		
		<div class="accessibility_pane">
			<div class="light_mode hyperlink" id="light_mode" onclick="change_page_theme('light')" style="display: none;" title="Change to light mode"></div>
			<div class="dark_mode hyperlink" id="dark_mode" onclick="change_page_theme('dark')" title="Change to dark mode"></div>
		</div>
		
		<div id="light_title_pane">
			<div class="flex-container title_pane" id="light_title_subpane">
				<div class="nltm_logo">
					<a href="https://www.meity.gov.in/national-language-translation-mission">
						<img src="{{url_for('static', filename='/images/gov-logo-1.png')}}" alt="MeitY, GoI, logo" title="MeitY, GoI">
					</a>
				</div>
				<div class="ispeakr_logo">
					<a href="https://sr-meity.github.io/Manuals/" style="position: relative; width: 100%;">
						<img src="{{url_for('static', filename='/images/i-SpeakR_icon2.bmp')}}" alt="i-SpeakR logo" title="i-SpeakR">
					</a>
				</div>
			</div>
		</div>


		<div id="dark_title_pane" style="display: none;">
			<div class="flex-container title_pane" id="dark_title_subpane">
				<div class="nltm_logo">
					<a href="https://www.meity.gov.in/national-language-translation-mission">
						<img src="{{url_for('static', filename='/images/gov-logo-1_invert.png')}}" alt="MeitY, GoI, logo" title="MeitY, GoI">
					</a>
				</div>
				<div class="ispeakr_logo">
					<a href="https://sr-meity.github.io/Manuals/" style="position: relative; width: 100%;">
						<img src="{{url_for('static', filename='/images/i-SpeakR_icon2_invert2.png')}}" alt="i-SpeakR logo" title="i-SpeakR">
					</a>
				</div>
			</div>
		</div>

		<div class="mobile_view">
			<div class="open_menu" id="open_menu" onclick="toggle_menu()">
				&#8803;
				<input type="hidden" value="closed" id="menu_status"/>
			</div>
		</div>

		<div class="flex-container menu_pane" id="menu_pane">
			<div class="menu_items hyperlink" onclick="window.open('index.html', '_self');">
				Home
			</div>
			&emsp;
			<div class="menu_items hyperlink" onclick="window.open('about.html', '_self');">
				About
			</div>
			&emsp;
			<div class="menu_items hyperlink" onclick="window.open('resources.html', '_self');">
				Resources
			</div>
			&emsp;
			<div class="menu_items hyperlink" onclick="window.open('I-MSV.html', '_self');">
				I-MSV Challenge
			</div>
			&emsp;
			<div class="menu_items hyperlink selected_menu">
				Demo
			</div>
			&emsp;
			<div class="menu_items hyperlink" onclick="window.open('hands_on.html', '_self');">
				Hands-on
			</div>
			<div class="empty_menu_item">
			</div>
		</div>

		<div class="flex-container dashboard">

			<div class="demo_page_heading">
				<div class="heading1">DEMO</div>
				<div class="heading2">i-SpeakR - Testing Module</div>
				<img src="{{url_for('static', filename='/images/home_icon.png')}}" onclick="window.open('demo.html', '_self');" width="30px" class="hyperlink" title="Goto DEMO homepage"/>
			</div>


			<form class="audioForm" name="audioForm" id="audioForm">
			<div class="details_tile">
				<input type="text" name="speakerID" class="speakerID" id="speakerID" placeholder="Speaker ID" required/></div>
				<div class="forgot_speaker_id" id="forgot_speaker_id">
					<p class="heading2">Format of speaker ID</p>A speaker ID is generated using combinmation of first letter of First Name, first letter of your Last Name, first letter of your Gender and age. <b>For Example, if you have entered speaker details as 'Ganesh' 'Bhosale' 'Male' '25' then your speaker id is 'GBM25'</b>
				</div>

				<div class="start_recording_switch hyperlink" onclick="show_recording_menu();">
					Start recording
				</div>
			</div>

			<div class="recording_menu" id="recording_menu">
				<form class="audioForm" name="audioForm" id="audioForm">
					<div class="recording_buttons">
						<div class="close_menu hyperlink" onclick="hide_recording_menu();">&#10060;</div>
						<div class="heading2">Record audio</div>
						<input type="button" class="button record_button" name="recordButton" id="recordButton" value="START" onclick="start_recording();">
						<input type="button" class="button stop_button" name="stopRecording" id="stopRecording" value="STOP" onclick="stop_recording()">
					</div>
				</form>
				<p class="timer" id="timer" name="timer">Not Recording.</p>

				<br/>
		
				<div class="prompt"><b>Example text prompt:</b> &nbsp; Indians are the citizens and nationals of the Republic of India. According to the 2011 Indian national census, the population of India stood at over 1.2 billion people, making it the world's second-most populous country that contains 17.50 percent of the global population. In India, the term "Indian" refers to nationality, rather than a particular ethnicity or language.</div>

				<p class="output" id="output" name="output">Result: </p>
			</div>
			</form>
			
			<br/><br/><br/><br/><br/><br/><br/><br/>

		</div>


		<div class="flex-container footer">
			<div>© Copyright 2022. Designed and maintained by IIT Dharwad & IIIT Dharwad.</div>
		</div>

	</body>
</html>
