<!DOCTYPE html>
<html>
	<head>
<!--
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
-->
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
		<meta name="mobile-web-app-capable" content="yes"/>

		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia|DynaPuff">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:ital,wght@1,500&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap" rel="stylesheet">

		<link href="{{url_for('static', filename='/css/base_style.css')}}" type="text/css" rel="stylesheet">
		<link href="{{url_for('static', filename='/css/userDetails.css')}}" type="text/css" rel="stylesheet">
		<link href="{{url_for('static', filename='/images/i-SpeakR_icon2.ico')}}" type="image/x-icon" rel="icon">

    	<script type="text/javascript" src="static/js/stickyNav.js"></script>
    	<script type="text/javascript" src="static/js/getAudioDevices.js"></script>

		<title>i-SpeakR - Speaker Verification</title>

		<script type="text/javascript">
			function show_msg(){
				document.getElementById('forgot_speaker_id').style.visibility='visible';
			}

			function hide_msg(){
				document.getElementById('forgot_speaker_id').style.visibility='hidden';
			}

			function start_recording(){
				if(document.getElementById('speakerID').value == '')
					alert('Please enter the speakerID');
				else{
					vstart();
					timer();	
				}
			}

			function stop_recording(){
				vstop();
			}

			function show_recording_menu(){
				document.getElementById('recording_menu').style.visibility='visible';
			}

			function hide_recording_menu(){
				document.getElementById('recording_menu').style.visibility='hidden';
			}
		</script>
	</head>

	<body lang="en-IN">

		<div class="flex-container title_pane">
			<a href="https://www.meity.gov.in/national-language-translation-mission"><img src="{{url_for('static', filename='/images/gov-logo-1.png')}}" alt="MeitY, GoI, logo" title="MeitY, GoI"></a>
			<a href="https://sr-meity.github.io/Manuals/"><img src="{{url_for('static', filename='/images/i-SpeakR_icon2.bmp')}}" alt="i-SpeakR logo" title="i-SpeakR" height="75px"></a>
		</div>

		<div class="flex-container menu_pane">
			<div class="menu_items hyperlink" onclick="window.open('index.html', '_self');">
				Home
			</div>
			&emsp;
			<div class="menu_items hyperlink" onclick="window.open('about.html', '_self');">
				About
			</div>
			&emsp;
			<div class="menu_items hyperlink" onclick="window.open('resources.html', '_self');">
				Resources
			</div>
			&emsp;
			<div class="menu_items hyperlink selected_menu">
				Demo
			</div>
			&emsp;
			<div class="menu_items hyperlink" onclick="window.open('hands_on.html', '_self');">
				Hands-on
			</div>
			<div class="empty_menu_item">
			</div>
		</div>

		<div class="flex-container dashboard">

			<div class="flex_row" style="position: relative; width: 100%;">
				<div class="heading1 flex-row">DEMO</div>
				<div class="heading2">i-SpeakR - Testing Module</div>
				<img src="{{url_for('static', filename='/images/home_icon.png')}}" onclick="window.open('demo.html', '_self');" width="30px" class="hyperlink" title="Goto DEMO homepage"/>
			</div>

			<form class="audioForm" name="audioForm" id="audioForm">
			<div class="content_space">
				<div class="subsection flex_row">
					<div class="speaker_id_input flex_col">
						<div><label for="speakerID">Enter the Speaker ID:</label></div>
						<div><input type="text" name="speakerID" class="speakerID" id="speakerID" required value="AXM33"/></div>
						<!--<div class="hyperlink" onclick="show_msg();">Forgot speaker ID</div>-->
					</div>

					<div class="forgot_speaker_id" id="forgot_speaker_id">
						<!--<div class="close_menu hyperlink" onclick="hide_msg();">&#10060;</div>-->
						<div class=""><div class="heading2">Format of speaker ID</div>A speaker ID is generated using combinmation of first letter of First Name, first letter of your Last Name, first letter of your Gender and age. <b>For Example, if you have entered speaker details as 'Ganesh' 'Bhosale' 'Male' '25' then your speaker id is 'GBM25'</b></div>
					</div>

				</div>

				<div class="subsection">
					<div class="start_recording_switch hyperlink" onclick="show_recording_menu();">
						Click here to start recording
					</div>
				</div>

				<div class="flex_col table_div recording_menu" id="recording_menu">
					<div class="close_menu hyperlink" onclick="hide_recording_menu();">&#10060;</div>
					<div class="heading2">Read the following Text</div>
					<form class="audioForm" name="audioForm" id="audioForm">
					<div class="trow">
						<div>
						<input type="button" class="button record_button" name="recordButton" id="recordButton" value="START" onclick="start_recording();">
						</div>
						<div>
						<input type="button" class="button stop_button" name="stopRecording" id="stopRecording" value="STOP" onclick="stop_recording()">
						</div>
					</div>
					</form>				
					
					<p class="timer" id="timer" name="timer">Not Recording.</p>
	
					<div class="heading2">Text prompt</div>
					<div class="text">
						Indians are the citizens and nationals of the Republic of India. According to the 2011 Indian national census, the population of India stood at over 1.2 billion people, making it the world's second-most populous country that contains 17.50 percent of the global population. In India, the term "Indian" refers to nationality, rather than a particular ethnicity or language.
					</div>
					<p class="output" id="output" name="output">Result: </p>
				</div>

				</form>

			</div>
			
			<br/><br/><br/><br/><br/><br/><br/><br/>

		</div>


		<div class="flex-container footer">
			<div>© Copyright 2022. Designed and maintained by IIT Dharwad & IIIT Dharwad.</div>
		</div>

	</body>
</html>
